$colorTextWhite: #e6e6e6;
$colorTextWhiteDescription: #9f9f9f;
$colorTextWhiteBig: #f0f0f0;
$colorBackgroundBlack: #111;
$colorBackgroundOverlay: #000;
$colorGreenMain: #009e66;
$colorBlackBox: #161616;